tensorflow
transformers==4.35.0
sentencepiece
streamlit==1.29.0
pandas==2.0.3  # a more stable version for cloud builds
openpyxl
requests
beautifulsoup4
spacy==3.8.0
deep-translator
langdetect
geotext
country_converter