# CPU-friendly, compatible with Python 3.11
tensorflow==2.12.0
torch==2.1.0
transformers==4.35.0
sentencepiece
streamlit==1.29.0
pandas==2.0.3
openpyxl
deep-translator
langdetect
country_converter
beautifulsoup4
requests
geotext
spacy==3.8.0
rich